.skills-style {
    margin-top: 10px;
    height: auto;
}

.border-style {
    border: 2px solid #4aaaa5;
    background-color: #1d1616;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #4aaaa5;
    overflow: hidden;
}


.list-style {
    color: #4aaaad;
    font-size: large;
    font-family: 'Share Tech Mono', monospace;
}