.contact-bar {
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
    height: max-content;
    width: 216.97px;
    border-radius: 10px;
    padding: 0px;
    margin-left: 10px;
    display: block;
    margin: 0 auto;
}

.center {
    width: max-content;
    padding: 0px;
    margin: 0 auto;
}
