.navbarColor {
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
    border-radius: 20px;
    padding: 10px;
}

.navbarGrow { transition: all .2s ease-in-out; }
.navbarGrow:hover { transform: scale(1.2); }

.navTogglerColor{
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
}

a {
    color: #4aaaa5;
}

