.navbarColor {
    display: flex !important;
    flex-direction: row !important;
    min-width: max-content;
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
    border-radius: 20px;
    padding: 10px;
}

.navbarGrow { 
    min-width: 259px;
    max-height: 64px;
    transition: all .2s ease-in-out; 
}
.navbarGrow:hover { transform: scale(1.2); }

.cusNav {
    display: flex;
    flex-direction: row !important;
    list-style: none;
    margin-bottom: 0px;
    margin: 0 auto;
    padding: 0px;
}

.current-page {
    text-shadow: 2px 2px 5px #4aaaad;
}

a {
    color: #4aaaa5;
}


@media screen and (max-width: 574px){
    a {
        color: #4aaaa5;
        font-size: medium;
    }
}



