.text-box {
    color: #4aaaa5;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow-wrap: normal;
    text-indent: 20px;
    font-family: 'Kumbh Sans', sans-serif !important;
    font-size: x-large;
    text-align: left;
    line-height: 180%;
}



@media only screen and (max-width: 700px){
    .text-box {
        font-size: large;
    }
}