.jumbo-style{
    background-color: #1d1616;
    border: 2px solid #4aaaa5;
    padding: 10px;
}


.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(74,170,165,1);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(74,170,165,1);
    box-shadow: inset 0px 0px 10px 2px rgba(74,170,165,1) !important;
}

.proj-technology{
    width: max-content;
    color: #4aaaa5 !important;
    font-family: 'Share Tech Mono', monospace !important;
    opacity: .8;
}


.proj-text {
    background-color: green;
    height: 100%;
}

.proj-desc {
    background-color: orange;
    height: 100%;
}

.button-holder {
    width: max-content;
}

.button-style {
    display: inline-block;
    margin: 10px auto;
    background-color: #1d1616;
    color: #4aaaa5 !important;
    border: 2px solid #4aaaa5;
    border-radius: 5px;
    font-family: 'Share Tech Mono', monospace !important;
}


.button-style:hover {
    box-shadow: 2px 2px 5px #4aaaa5;
}