.text-box {
    color: #4aaaa5;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow-wrap: normal;
    text-indent: 20px;
    text-shadow: 2px 2px 5px #4aaaad;
    font-family: 'Share Tech Mono', monospace;
    font-size: x-large;
}



@media only screen and (max-width: 700px){
    .text-box {
        font-size: large;
    }
}