footer {
    border-top: 8px solid #4aaaa5;
    background-color: #1d1616;
    height: max-content;
    flex-shrink: 0;
    margin-top: auto;
}

.footer-content {
    margin: 0 auto;
    width: max-content;
}

.footer-text{
    display: inline-block;
    width: max-content;
    color: #4aaaa5;
    font-size: large;
    font-family: 'Share Tech Mono', monospace;
}