.cusFont {
    font-size: x-large;   
    font-family: 'Kumbh Sans', sans-serif !important;
}

.animateFadeIn {
    text-shadow: black 2px 2px 5px;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media only screen and (max-width: 700px){
    .cusFont {
        font-size: large;
    }
}