footer {
    border-top: 8px solid #4aaaa5;
    background-color: #1d1616;
    height: max-content;
    flex-shrink: 0;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content {
    margin: 0 auto;
    width: max-content;
    height: min-content;
}

.footer-text{
    display: block;
    margin: 0 auto;
    width: 210px;
    color: #4aaaa5;
    font-size: small;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}